html {
    scroll-snap-type: y mandatory;
}

.app {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #c1dff5;
}

.app__videos {
    position: relative;
    border-radius: 20px;
    height: 90%;
    overflow: scroll;
    width: 80%;
    max-width: 400px;
    scroll-snap-type: y mandatory;
}

/* hide scroll bar for chrome safari and opera */
.app__videos::-webkit-scrollbar {
    display: none;
}

/* hide scrollbar for ie edge and firefox */
.app__videos {
    /* ie and edge */
    -ms-overflow-style: none;
    /* firefox */
    scrollbar-width: none;
}